<template name"landingPageHeader">

  <!-- Navigation Bar -->
  {{> landingPageNav}}
  <!-- /Navigation Bar -->
  
  <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="row">
                <div class="col-md-6">
                  <img src="/images/landing_page/mockup_iPhone6.png" class="img-responsive" alt="Billi app">
                </div>
                <div class="col-lg-6 text-center">
                  <div class="intro-lead-in">We are giving back to you and your employees your most precious resource</div>
                  <div class="intro-heading">Don't waste more time tracking your travel expenses</div>
                  <a href="#portfolio" class="page-scroll btn btn-xl"><i class="fa fa-apple"></i>      Download now on the App Store!</a>
                  <!-- TODO: sustituir por imagen este botón -->
                </div>
              </div>
            </div>
        </div>
    </header>
  
  
</template>