//Footer Section
footer {
    padding: 25px 0;
    text-align: center;

    color: @brand-secondary;
    background-color: @brand-primary;
    span.copyright {
        line-height: 40px;
        .heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        .heading-font;
        text-transform: none;
    }
}
