@body-bg: @brand-white;
@font-size-base: 14px;
@headings-font-family: @font-family-base;
@headings-font-weight: 700;
@text-muted: @brand-grey;
@link-color: @brand-primary;
@link-hover-color: @brand-highlight;
@link-hover-decoration: none;
@btn-primary-color: @brand-secondary;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: @navbar-height;
    /* Padding top by nav-bar height */
    
    margin-bottom: @footer-height;
    /* Margin bottom by footer height */
    
    overflow-x: hidden;
}

.text-primary {
    color: @brand-primary;
}

// p {
//   font-size: 14px;
//   line-height: 1.75;
// }

p.large {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-1 {
    background-color: @brand-background-1;
}

.bg-2 {
    background-color: @brand-background-2;
}

//Buttons
.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  .heading-font;
  font-weight: 700;
}

.btn-xl {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  .heading-font;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 40px;
}



// Social Buttons

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      display: block;
      background-color: @brand-grey;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 40px;
      color: @brand-secondary;
      outline: none;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          &:hover,
          &:focus,
          &:active {
        background-color: @brand-primary;
          }
    }
  }
}

// Circle Buttons 

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}


// Wrappers

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: white;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 @sidebar-width;
        padding: 0 30px;
        border-left: 1px solid darken(@gray-lighter, 6.5%);
    }
}
