<template name="editReceipt">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Edit Receipt</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
    <div class="row">
      <div class="col-lg-12">
        <a class="btn btn-default btn-lg" href="{{pathFor 'receipts'}}"><i class="fa fa-arrow-left"></i> Back to Receipts</a>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
    <div class="row">
      <div class="col-lg-12">
        <h4>Edit receipt</h4>
        <!--
          {{> quickForm collection="Expenses" doc=receipt id="expense-edit-form" type="update"}} 
          -->
          {{#autoForm collection="Expenses" doc=receipt id="expense-edit-form" type="update"}}
            
            {{#each field}}
              {{#if isCategory this}}
                {{> afQuickField name=this options=categories}}
              {{else}}
                {{#if isDate this}}
                  {{> afFieldInput name=this type="datetime-local" value=date}}
                  {{else}}
                    {{#if isLocation this}}
                      {{> afQuickField name=this value=location}}
                      {{else}}
                        {{> afQuickField name=this}}
                    {{/if}}
                {{/if}}
              {{/if}}
            {{/each}}

          <div class="padding">
            <button type="submit" class="button button-positive button-block">Save Changes in Expense</button>
          </div>
        {{/autoForm}}
       
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
</template>