<template name="settings">
  
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Settings</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-user fa-fw"></i> Profile</a></li>
            <li role="presentation"><a href="#categories" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-list fa-fw"></i> Categories</a></li>
            <li role="presentation"><a href="#import" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-download fa-fw"></i> Import settings</a></li>
            <li role="presentation"><a href="#export" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-upload fa-fw"></i> Export settings</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
              <!-- <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Contact Us</h2>
                      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                  </div>
              </div>
              -->
              <div class="row">
                  <div class="col-lg-12">
                    {{> quickForm collection="Meteor.users" doc=user id="user-profile-edit" type="update" omitFields="emails,createdAt,services"}}
                  </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="categories">
              <div class="row">
                  <div class="col-lg-12">
                      {{> quickForm collection="UserSettings" doc=userId id="user-categories-edit" type="update" omitFields="importSettings,belongsTo"}}
                  </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="import">
              <div class="row">
                  <div class="col-lg-12">
                      {{> quickForm collection="UserSettings" doc=userId id="user-import-edit" type="update" omitFields="expenseCategories,belongsTo"}}
                  </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="export">...</div>
          </div>

        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</template>