<template name="pieChart">
  <div class="row">
    <div class="col-lg-12">
      <div id="container-pie"></div>
    </div>
  </div>
</template>

<template name="barChart">
  <div class="row">
    <div class="col-lg-12">
      <div id="container-column"></div>
    </div>
  </div>
</template>

<template name="noChart">
  <div class="row">
    <div class="col-lg-12">
      <p>No data available</p>
    </div>
  </div>
 </template>
          
<template name="dashboard">
  
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Your expenses by month
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            {{#if isExpenses}}
              {{> barChart}}
            {{else}}
              {{> noChart}}
            {{/if}}
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-pie-chart fa-fw"></i> Your expenses by category
          </div>
          <div class="panel-body">
            {{#if isExpenses}}
              {{> pieChart}}
            {{else}}
              {{> noChart}}
            {{/if}}
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /#page-wrapper -->

</template>

